<div class="card">
    <p-table #dt1 [value]="drivers" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [paginator]="true" [globalFilterFields]="['name', 'phone', 'createdAt', 'approvalStatus']">
        <!-- Caption -->
        <ng-template pTemplate="caption">
            <div class="flex">
                <p-button label="Limpar" outlined icon="pi pi-filter-slash" (click)="clear(dt1)"></p-button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter($event, dt1)" placeholder="Pesquisar" />
                </p-iconfield>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Nome
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Contato
                        <p-columnFilter type="text" field="phone" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Data de Cadastro
                        <p-columnFilter type="date" field="createdAt" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Data de Atualização
                        <p-columnFilter type="date" field="updatedAt" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Placas Vinculadas
                        <p-columnFilter type="text" field="vehicles" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        Status
                        <p-columnFilter type="text" field="approvalStatus" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th style="min-width:15rem">
                    <div class="flex items-center">
                        E-mail
                        <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-driver>
            <tr>
                <td style="display: flex; align-items: center;">
                    <p-avatar image="" icon="pi pi-user" size="large" shape="circle"></p-avatar>
                    <span style="margin-left: 0.5rem;">{{ driver.name }}</span>
                </td>
                <td>{{ driver.phone }}</td>
                <td>{{ formatDate(driver.createdAt) }}</td>
                <td>{{ formatDate(driver.updatedAt) }}</td>
                <td>{{ countVehicles(driver.vehicles) }}</td>
                <td>
                    <p-tag *ngIf="driver.approvalStatus === 'PENDING'" value="Pendente" severity="warn"></p-tag>
                    <p-tag *ngIf="driver.approvalStatus === 'APPROVED'" value="Aprovado" severity="success"></p-tag>
                    <p-tag *ngIf="driver.approvalStatus === 'REJECTED'" value="Rejeitado" severity="danger"></p-tag>
                </td>
                <td>{{ driver.email }}</td>
            </tr>
        </ng-template>

        <!-- Empty Message -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Nenhum motorista encontrado.</td>
            </tr>
        </ng-template>
    </p-table>
</div>